.custom-delay-0 {
	animation-delay: 0ms;
}
.custom-delay-1 {
	animation-delay: 100ms;
}
.custom-delay-2 {
	animation-delay: 200ms;
}
.custom-delay-3 {
	animation-delay: 300ms;
}
.custom-delay-4 {
	animation-delay: 400ms;
}
.custom-delay-5 {
	animation-delay: 500ms;
}
.custom-delay-6 {
	animation-delay: 600ms;
}
.custom-delay-7 {
	animation-delay: 700ms;
}
.custom-delay-8 {
	animation-delay: 800ms;
}
.custom-delay-9 {
	animation-delay: 900ms;
}
.custom-delay-10 {
	animation-delay: 1000ms;
}
